/* div {
    background-color: orange;
    width: 200px;
    height: 200px;
} */
#green {
    background-color: green;
}
.green {
    color:red;
}
div {
    border: 10px groove pink;
}
.box {
    width: 200px; height:200px
}